.fragments-header-separator {
  background: linear-gradient(
    135deg,
    transparent 25%,
    #222 25%,
    #222 50%,
    transparent 50%,
    transparent 75%,
    #222 75%,
    #222 100%
  );
  background-size: 7px 7px;
  height: 6px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: auto;
  max-width: 700px;
}
